<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>TA Management system</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<head>
	

	<style>
		html,body {font-family:"Verdana",sans-serif}
		h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",sans-serif}
	</style>
</head>

<script src=""></script>
<body>
	<div style="text-align: center;">
		<img src="images/comingsoon.png" style="width:60%";>
	</div>

	<div style="text-align: center;">
		<h1>Website Maintenance</h1>
	</div>


</body>
</html>
